@font-face {
  font-family: 'MavenPro-Regular';
  src: url("~@/assets/fonts/MavenPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro-Bold';
  src: url("~@/assets/fonts/MavenPro-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
